<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @theme.name %>
</p>

<p>
  <b>Data:</b>
  <%= @theme.data %>
</p>

<p>
  <b>Preview img:</b>
  <%= @theme.preview_img %>
</p>


<%= link_to 'Edit', edit_theme_path(@theme) %> |
<%= link_to 'Back', themes_path %>
