<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @animal.name %>
</p>

<p>
  <b>Habitat:</b>
  <%= @animal.habitat %>
</p>

<p>
  <b>Nocturnal:</b>
  <%= @animal.nocturnal %>
</p>

<p>
  <b>Diet:</b>
  <%= @animal.diet %>
</p>

<p>
  <b>Weight:</b>
  <%= @animal.weight %> lbs
</p>

<%= link_to 'Back', animals_path %>
